#App {
    width: 100vw;
    height: 100vh;
}

#App > * {
    overflow: scroll;
    -ms-overflow-style: none;  /* Edge */
    scrollbar-width: none;  /* Firefox */
}

.icon {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    width: 1.2em;
}
.icon.html {
    color: var(--icon-html);
}

/* Prevent text enlargement on landscape iOS */
@media (orientation: landscape) {
	html {
		-webkit-text-size-adjust: 100%;
	}
}