#App {
    width: 100vw;
    height: 100vh;
}

#App > * {
    overflow: scroll;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

#App .content-footer-wrapper {
    position: fixed;
    top: calc(var(--header-height) + var(--tabs-height));
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--header-height) - var(--tabs-height));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.icon {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.7rem;
    width: 0.85rem;
    height: 0.85rem;
}
.icon.html {
    color: var(--icon-html);
}
.icon.markdown {
    color: var(--icon-markdown);
    font-size: 1rem;
}

.link {
    color: inherit;
    text-decoration-color: inherit;
}
.link.markdown {
    color: var(--accent)
}
.link:hover {
    opacity: 0.8;
}

.scroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
}
.scroll:hover::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

/* Prevent text enlargement on landscape iOS */
@media (orientation: landscape) {
	html {
		-webkit-text-size-adjust: 100%;
	}
}