#Content {
    position: fixed;
    top: var(--tabs-height);
    left: var(--sidebar-width);

    width: calc(100% - var(--sidebar-width));
    height: var(--content-height);

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;

    background-color: var(--content-bg);
    border-right: 1px solid var(--border-color);
}

#Content .page {
    counter-reset: item 0;
    padding: 10px 0 0 25px;
}
#Content .page p {
    counter-increment: item;
    position: relative;
    padding-left: 33px;
    line-height: 1.4em;
}
#Content .page p::before {
    content: counter(item) " ";
    position: absolute;
    left: 0;
    color: var(--content-txt-side);
}