#Footer {
	position: fixed;
  top: calc(var(--tabs-height) + var(--content-height));
  left: var(--sidebar-width);

  width: calc(100% - var(--sidebar-width));
  height: calc(100% - var(--tabs-height) - var(--content-height));

  background-color: var(--footer-bg);
}