html[data-theme="light"] {

}
html[data-theme="dark"] {
  --accent: rgb(1, 120, 212);
  --txt: rgb(204, 204, 204);
  --txt-secondary: rgb(157, 157, 157);
  --txt-variable: rgb(156, 220, 254);
  --txt-function: rgb(202, 203, 259);
  --txt-bracket: rgb(255, 215, 3);
  --txt-bracket-alt: rgb(218, 112, 214);
  --txt-numeral: rgb(181, 206, 168);
  --txt-string: rgb(205, 145, 120);
  --txt-comment: rgb(103, 148, 84);

  --content-bg: rgb(32, 32, 32);
  --content-txt-header: rgb(174, 174, 174);
  --content-txt-header-active: rgb(224, 224, 225);
  --content-txt-side: rgb(110, 118, 129);
  --content-txt-side-active: var(--content-txt);
  --content-block-line: rgb(64, 64, 64);
  --content-block-line-active: rgb(112, 112, 112);
  --content-line-border: rgb(40, 40, 40);

  --sidebar-bg: rgb(24, 24, 24);
  --sidebar-icon: rgb(134, 134, 134);
  --sidebar-icon-active: rgb(207, 207, 207);
  --sidebar-block-line-hover: rgb(45, 45, 45);
  /* CHECK IF COLOR BELOW IS SIMPLY TRANSPARENT --ACCENT COLOR */
  --sidebar-block-line-active: rgb(3, 58, 94);
  --sidebar-block-line-active-border: var(--accent);
  --sidebar-line-select-active: rgb(55, 55, 61);
  --sidebar-line-select-inactive: rgb(55, 55, 61);
  --sidebar-line-hover: rgb(42, 45, 47);

  --tabs-bg: var(--sidebar-bg);
  --tabs-border-active: var(--accent);
  --tabs-close-txt: rgb(154, 154, 154);
  --tabs-close-txt-active: rgb(255, 255, 255);
  --tabs-close-bg-hover: rgb(51, 52, 52);

  --footer-bg: var(--sidebar-bg);

  --border-color: rgb(43, 43, 43);
}

:root {
  --sidebar-width: 175px;
  --tabs-height: 40px;
  --content-height: 65%;

  --panel-padding: 12px 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", serif;
  font-size: 14px;
  color: var(--txt);
}